* {
    margin: 0;
    padding: 0;
}

.flex-column {
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.title-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 52px;
    font-family:"Courier New", arial, helvética;
    color: darkslategray;
}

.list-form-container {
    width: 80%;
    margin: auto auto;
}

.list-form {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-form input {
    height: 40px;
    width: calc(100% - 140px);
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid darkslategray;
}

.list-form button {
    height: 40px;
    width: 120px;
    border-radius: 4px;
    background-color: #15a13f;
    color: white;
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: 0.3s all ease;
}

.list-form button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.container {
    width: 80%;
    margin: auto auto;
}
.list-container {
    width: 100%;
    height: auto;
    margin: 10px auto;
}

.list-header {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60px;
    border-radius: 4px;
    color: darkslategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.list-header h3:nth-child(1){
    width: 10%;
    padding-left: 20px;
    font-size: 18px;
    font-family:"Courier New", arial, helvética;
}

.list-header h3:nth-child(2){
    width: calc(90% - 300px);
    padding-left: 20px;
    font-size: 18px;
    font-family:"Courier New", arial, helvética;
}

.list-header h3 span {
    font-weight: bold;
    font-size: 26px;
}

.list-btn-delete {
    height: 40px;
    width: 120px;
    background-color: crimson;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family:"Courier New", arial, helvética;
    border: none;
    transition: 0.3s all ease;
    border-radius: 4px;
}

.list-btn-edit {
    height: 40px;
    width: 120px;
    background-color: #1572A1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family:"Courier New", arial, helvética;
    margin-right: 20px;
    border: none;
    transition: 0.3s all ease;
    border-radius: 4px;
    margin-left: 10px;
}

.list-btn-delete:hover, .list-btn-edit:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.todo-container {
    margin-top: 15px;
    width: calc(100% - 40px);
    border-radius: 4px;
    border: 1px solid darkslategray;
    padding: 20px;
    background-color: rgb(250, 249, 243);
}

.todo-header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.todo-header input {
    width: calc(100% - 140px);
    height: 40px;
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid darkslategray;
}

.todo-header button {
    background-color: #15a13f;
    border: none;
    height: 40px;
    width: 120px;
    color: white;
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
    font-weight: bold;
    border: none;
    transition: 0.3s all ease;
    border-radius: 4px;
}

.todo-header button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.todo-header-info {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: darkslategray;
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
}

.todo-header-info h3:nth-child(1) {
    width: 5%;
    padding-left: 20px;
}

.todo-header-info h3:nth-child(2) {
    width: 55%
}

.todo-header-info h3:nth-child(3) {
    text-align: center;
    width: 20%;
}

.todo-header-info h3:nth-child(4) {
    width: 20%;
    margin-right: 40px;
}

.empty-text {
    margin-top: 10px;
    color: darkslategray;
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
}

.todo-container-info {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border: 1px solid darkslategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: darkslategray;
    background-color: white;
}

.todo-container-info h3:nth-child(1){
    width: 5%;
    color: darkslategray;
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
    transition: 0.3s all ease;
    padding-left: 20px;
}

.todo-container-info h3:nth-child(2){
    width: 55%;
    color: darkslategray;
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
    transition: 0.3s all ease;
}

.todo-btn-status-container {
    width: 20%;
    color: darkslategray;
    font-family:"Courier New", arial, helvética;
    font-size: 18px;
    text-align: center;
}

.todo-btn-container {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 0 20px;
}

.todo-btn-delete {
    height: 40px;
    width: 120px;
    background-color: crimson;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family:"Courier New", arial, helvética;
    border: none;
    transition: 0.3s all ease;
    border-radius: 4px;
    margin-right: 10px;
}

.todo-btn-edit {
    height: 40px;
    width: 120px;
    background-color: #1572A1;;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family:"Courier New", arial, helvética;
    border: none;
    transition: 0.3s all ease;
    border-radius: 4px;
}

.todo-btn-edit-disabled {
    height: 40px;
    width: 120px;
    background-color: gray;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family:"Courier New", arial, helvética;
    border: none;
    transition: 0.3s all ease;
    border-radius: 4px;
}

.todo-btn-delete:hover, .todo-btn-edit:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.todo-btn-status {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    font-family:"Courier New", arial, helvética;
    border: none;
    transition: 0.3s all ease;
    color: white;
}

.todo-btn-status:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.status-complete {
    background-color: #15a13f;
}

.status-incomplete {
    background-color: crimson;
}

.text-disabled {
    color: lightgray !important;
    transition: 0.3s all ease;
}

.errorMessage {
    display: none;
    margin-top: 10px;
    color: crimson;
    font-weight: bold;
    font-family:"Courier New", arial, helvética;
    font-size: small;
    transition: 0.3s all ease;
}

.show {
    display: block;
}