.flex-column {
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
